.coloração-pessoal-wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1em;
    text-align: center;
}

.coloração-pessoal-wrapper img {
    height: 30%;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 4px 8px #0b4354;
    margin-bottom: 1.5em;
    align-items: center;
}

.coloracao-pessoal-o-que-é {
    text-align: center;
    font-size: 0.8em;
    line-height: 1.5em;
}

.coloracao-pessoal-beneficios {
    width: 100vw;
    text-align: center;
    font-size: 0.8em;
    line-height: 1.5em;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.coloracao-pessoal-beneficios img {
    height: 30%;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 4px 8px #0b4354;
    margin-bottom: 1.5em;
    align-items: center;
}

.coloracao-pessoal-analise {
    text-align: center;
    font-size: 0.8em;
    line-height: 1.5em;
    padding: 1em;
}

.coloracao-pessoal-analise img {
    height: 30%;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 4px 8px #0b4354;
    margin-bottom: 1.5em;
    align-items: center;
}

.pacote-bronze-description img {
    height: 30%;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 4px 8px #0b4354;
    margin-bottom: 1.5em;
    align-items: center;
}

.coloração-pessoal-investimento {
    padding: 2em 2em;
}

.pacote-prata-description img {
    height: 30%;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 4px 8px #0b4354;
    margin-bottom: 1.5em;
    align-items: center;
}

.pacote-gold-wrapper img {
    height: 30%;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 4px 8px #0b4354;
    margin-bottom: 1.5em;
    align-items: center;
}

.pacote-ametista-wrapper img {
    height: 30%;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 4px 8px #0b4354;
    margin-bottom: 1.5em;
    align-items: center;
}

.pacote-ruby-wrapper img {
    height: 30%;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 4px 8px #0b4354;
    margin-bottom: 1.5em;
    align-items: center;
}

.pacote-jade-wrapper img {
    height: 30%;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 4px 8px #0b4354;
    margin-bottom: 1.5em;
    align-items: center;
}
