.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cris-mendes-header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8em;
    width: 16em;
    padding: 0 1em 0 1em;
}
