.homepage-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #efe0d3;
    padding: 2em;
}

.homepage-wrapper img {
    height: 30%;
    width: calc(100vw - 17px);
    padding: 1em;
    box-shadow: 0px 4px 8px rgba(174, 74, 2, 0.774);
    margin-bottom: 1.5em;
}

.homepage-wrapper h5 {
    justify-content: center;
    text-align: center;
    margin-bottom: 0.5em;
    color: #6d5638;
    font-size: 3em;
}

.ola-cris-mendes-text {
    color: #222222;
    font-size: medium;
}

.jornada-cris-text {
    line-height: 1.5em;
    color: #7d694e;
    text-align: center;
    text-justify: newspaper;
}
