.navbar-wrapper {
    width: calc(100vw - 15px);
    display: flex;
    justify-content: flex-end;
}

.burger-button {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    margin-top: 0.6em;
    cursor: pointer;
}

.burger-button img {
    width: 3em;
    height: 3em;
    border-radius: 10em;
}

.visagismo-coloracao-links-wrapper {
    background-color: #88c1dc;
    padding: 0.8em;
    border-radius: 0.5em;
    color: #115270;
}

.visagismo-coloracao-links-wrapper a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}
/* width: calc(100vw - 17px); */
