h1,
h2,
h3,
h5 {
    margin: 1em;
}

.visagism-page-wrapper {
    width: calc(100vw - 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #737373;
}

.visagism-page-wrapper img {
    height: 30%;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 4px 8px rgb(255, 255, 255);
}

.visagism-title-and-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.visagism-title-and-image-wrapper img {
    height: 30%;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 4px 8px rgb(255, 255, 255);
}

.simulate-visagism-text {
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #948f8b;
    text-align: center;
}

.simulate-visagism-text p {
    width: 100%;
    line-height: 1.5;
    font-size: 0.8em;
    margin-bottom: 2em;
}

.simulate-visagism-text img {
    height: 30%;
    width: 100%;
    box-shadow: 0px 4px 8px rgb(1, 1, 1);
    margin-bottom: 1.5em;
}

.pacote-quartzo-rosa-wrapper {
    padding: 2em;
    width: 100%;
    background-color: #f9f9f9;
    text-align: center;
}
.pacote-quartzo-rosa-wrapper img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgb(212, 11, 185);
}

.investiment-and-image {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
}
